<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shelters</title>
</head>
<body>
    <div class="shelter-container">
    <% for(const shelter of shelters){ %>
        <h1><%= shelter.name%></h1>
        <p>Located: <%= shelter.location %></p>
        <p>Contact: <%= shelter.contact %></p>
        <a href="<%=shelter.url%>">Website</a>
        <a href="<%=shelter.urlForm%>">Original Form</a>
    <% } %>
    </div>
</body>
</html>